<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Atlas Simulator</title>

  <link href="/css/app.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css" rel="stylesheet" />
  <style>
      body {margin: 0; padding: 0;}
    	#map { position: absolute; top: 0; bottom: 0; width: 100%; }

  </style>
</head>
</html>